
    <% layout("/layouts/boilerplate")%>
    <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="col-8 offset-2">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        
        <input name="listing[title]" placeholder="enter title" required>
        <div class="valid-feedback">title looks good</div>
    </div>
        <br>
        <div class="mb-3">
            <label for="description" class="form-label">description</label> 
        <input name="listing[description]" placeholder="enter description" class="form-control">
        
    </div>
        <br>
        <div class="mb-3">
            <label for="image" class="form-label">image</label> 
        <input name="listing[image]" placeholder="enter image link" type="text" class="form-control">
    </div>
        <br>
        <div class="row">
        <div class="mb-3 col-4">
            <label for="price" class="form-label">price</label> 
        <input name="listing[price]" placeholder="enter price"  class="form-control" required>
        <div class="invalid-feedback">please enter a valid price</div>
    </div>
        <br>
        <div class="mb-3">
            <label for="location" class="form-label">location</label> 
        <input name="listing[location]" placeholder="enter location" class="form-control" required>;
        </div>
    </div>
        <br>
        <div class="mb-3 col-8">
            <label for="country" class="form-label">country</label> 
        <input name="listing[country]" placeholder="enter country" class="form-control">
    </div>
        <br>
        <button class="btn btn-dark">add</button>
    </div>
    </form>
